<div id="navbar">
  <div id="nav-menu">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/mystory.html">My Story</a></li>
      <li><a href="/projects.html">Projects</a></li>
      <li><a href="/calendar.html">2016 Fall Schedule</a></li>
    </ul>
  </div>
</div>

<div id="sidebar">
  <div id="profile-avatar">
    <a href="/"><img src="../resources/profile.jpg"></img></a>
  </div>
  <div id="profile-name">
    Xiaohang "James" Miao
  </div>
  <div id="profile-description">
    NCSU Senior Undergrad, Full-Stack Web Developer, Software Engineer, Ex-Intern at Amazon, IBM, Kadro Solutions
  </div>
  <div id="profile-contact">
    <a href="mailto:xmiao2@ncsu.edu"><i class="fa fa-envelope-square" style="color:red"></i></a>
    <a href="https://www.linkedin.com/in/xiaohang-james-miao-b4821288"><i class="fa fa-linkedin-square" style="color:#4875B4"></i></a>
    <a href="https://github.com/xmiao2"><i class="fa fa-github-square" style="color:#111111"></i></a>
  </div>
  <div id="profile-resume">
    Preferred Email: <a href="mailto:xmiao2@ncsu.edu">xmiao2@ncsu.edu</a><br/><br/>
    <a href="../resources/MiaoResume.pdf">My Résumé</a>
  </div>
</div>  