<div id="navbar">
  <div id="nav-menu">
    <ul>
      <li>Home</li>
      <li>About Me</li>
      <li>Projects</li>
      <li>2016 Fall Schedule</li>
    </ul>
  </div>
</div>

<div id="sidebar">
  <div id="profile-avatar">
    <a href="#"><img src="../resources/profile.jpg"></img></a>
  </div>
  <div id="profile-name">
    Xiaohang "James" Miao
  </div>
  <div id="profile-description">
    NCSU Senior, Full-Stack Developer, Software Engineer
  </div>
  <div id="profile-contact">
    <a href="mailto:xmiao2@ncsu.edu"><i class="fa fa-envelope-square" style="color:red"></i></a>
    <a href="#"><i class="fa fa-linkedin-square" style="color:#4875B4"></i></a>
    <a href="#"><i class="fa fa-github-square" style="color:#111111"></i></a>
  </div>
  <div id="profile-resume">
    <a href="#">Résumé</i></a>
  </div>
</div>  